<% if @result %>
<h1>The answer is... <%= @result %>!</h1>
<% end %>

<form method="get" action="/penis">
  <select name="car">
    <option value="fiat">Fiat</option>
    <option value="ford">Ford</option>
    <option value="bmw">BMW</option>
    <option value="mercedes">Mercedes</option>
    <option value="lamborghini">Lamborghini</option>
  </select>
  <button>Convert!</button>
</form>